name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches:
      - "*"
    tags:
      - "v*"

jobs:
  build-and-push:
    uses: soulsbros/CICD-template/.github/workflows/docker-build.yml@main
    with:
      image-name: steeven9/gcal-api
      push: true
      ping_webhook: ${{ github.ref_name == 'main' }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
